<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Shops</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <h1>All Shops</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="flash-message {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if shops %}
        <h3>List of Shops</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>Shop ID</th>
                    <th>Name</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                {% for shop in shops %}
                    <tr>
                        <td>{{ shop.shopID }}</td>
                        <td>{{ shop.name }}</td>
                        <td>{{ shop.category }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No shops found.</p>
    {% endif %}

    <a href="/customer" class="btn btn-primary">Back to Customer Dashboard</a>

</body>
</html>
